// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "./node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here


.logo{
  text-decoration: none;
  color: #0016ff;
  font-family: Garamond, monospace;
  letter-spacing: 3px;
  filter: drop-shadow(1px 1px 2px #9b9ca0);
}

.navbar-link{
  text-decoration: none;
  font-family: Garamond, monospace;
}

.header-background{
  background-image: url("http://www.publicdomainpictures.net/pictures/30000/velka/desert-sunrise-7-1-12e.jpg"), url("https://lh3.googleusercontent.com/https://daezaxn4za7rq.cloudfront.net/s3/resources.farm1.mycms.me/everysunrise-com/Resources/Sunrises/2020-08/03-08-20-AUS-A.jpg;crop=7,0,5780,1654;width=1200");
}

.dropdown-link{
color:black
}